{% extends "layout.html" %}

{% block content %}
<h1>{{ portfolio.name }}</h1>

<h2>Portfolion osakkeet</h2>
<table>
    <tr>
        <th>Symboli</th>
        <th>Nimi</th>
        <th>Määrä</th>
        <th>Keskimääräinen ostohinta</th>
        <th>Markkinahinta</th>
        <th>Kokonaisarvo</th>
        <th>Osakekohtainen tuotto</th>
        <th>Toiminnot</th>
    </tr>
    {% for stock in stocks %}
    <tr>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.name }}</td>
        <td>{{ stock.total_quantity }}</td>
        <td class="text-right">{{ stock.average_price | default(0) | round(2) }} €</td>
        <td class="text-right">
            {% if stock.real_time_price is not none %}
                {{ stock.real_time_price | round(2) }} €
            {% else %}
                Ei saatavilla
            {% endif %}
        </td>
        <td class="text-right">{{ stock.total_value | default(0) | round(2) }} €</td>
        <td class="text-right">
            {% if stock.stock_return is not none %}
                {{ stock.stock_return | round(2) }} €
            {% else %}
                Ei saatavilla
            {% endif %}
        </td>
        <td>
            <form action="/remove_stock" method="POST" style="display:inline;">
                <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}">
                <input type="hidden" name="stock_id" value="{{ stock.id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <button type="submit">Poista</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>


<h2>Tiedot</h2>
<p><strong>Kokonaisarvo:</strong> €{{ stocks|sum(attribute="total_value") | default(0) | round(2) }}</p>
<p><strong>Kokonaistuotto/tappio:</strong> 
    €{{ stocks|sum(attribute="stock_return") | default(0) | round(2) }}
</p>


<a href="/portfolios"><button>Takaisin portfolioihin</button></a>

<hr style="margin: 20px 0; border: 1px solid #333;">

<h2>Selaa osakelistaa</h2>
<a href="/stocks?portfolio_id={{ portfolio.id }}"><button>osakkeet</button></a>
<h2>Pikalisäys</h2>
<p>Valitse osakkeita, joita haluat lisätä portfolioon.</p>
<form action="/add_stock_to_portfolio" method="POST">
    <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <label for="stock_id">Valitse osake:</label>
    <select name="stock_id" required>
        {% for stock in all_stocks %}
        <option value="{{ stock.id }}">{{ stock.name }} ({{ stock.symbol }})</option>
        {% endfor %}
    </select>
    <p>Määrä:<br><input type="number" name="quantity" min="1" required></p>
    <p>Ostohinta:<br><input type="number" name="purchase_price" min="0.01" step="0.01" required></p>
    <button type="submit">Lisää osake portfolioon</button>
</form>
{% endblock %}
