{% extends "layout.html" %}

{% block content %}
<h1>{{ portfolio.name }}</h1>

<h2>Portfolion osakkeet</h2>
<table>
    <tr>
        <th>Symboli</th>
        <th>Nimi</th>
        <th>Määrä</th>
        <th>Keskimääräinen ostohinta (€)</th>
        <th>Markkinahinta (€)</th>
        <th>Kokonaisarvo (€)</th>
        <th>Osakekohtainen tuotto (€)</th>
    </tr>
    {% for stock in stocks %}
    <tr>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.name }}</td>
        <td>{{ stock.total_quantity }}</td>
        <td>{{ stock.average_price | default(0) | round(2) }}</td>
        <td>
            {% if stock.real_time_price is not none %}
                {{ stock.real_time_price | round(2) }}
            {% else %}
                Ei saatavilla
            {% endif %}
        </td>
        <td>{{ stock.total_value | round(2) }}</td>
        <td>
            {% if stock.stock_return is not none %}
                {{ stock.stock_return | round(2) }}
            {% else %}
                Ei saatavilla
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<a href="/portfolios"><button>Takaisin portfolioihin</button></a>

<h2>Lisää osake portfolioon</h2>
<a href="/stocks?portfolio_id={{ portfolio.id }}"><button>Lisää osake portfolioon</button></a>
<form action="/add_stock_to_portfolio" method="POST">
    <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}">
    <label for="stock_id">Valitse osake:</label>
    <select name="stock_id" required>
        {% for stock in all_stocks %}
        <option value="{{ stock.id }}">{{ stock.name }} ({{ stock.symbol }})</option>
        {% endfor %}
    </select>
    <p>Määrä:<br><input type="number" name="quantity" min="1" required></p>
    <p>Oston hinta (€):<br><input type="number" name="purchase_price" min="0.01" step="0.01" required></p>
    <button type="submit">Lisää osake</button>
</form>

<h2>Portfolion kokonaisarvo</h2>
<p><strong>Kokonaisarvo:</strong> €{{ stocks|sum(attribute="total_value") | round(2) }}</p>

<a href="/portfolios"><button>Takaisin portfolioihin</button></a>
{% endblock %}
